openapi: 3.0.1
info:
  title: GetEmails API
  version: 1.0.0

servers:
  - url: https://raw.githubusercontent.com/tasnim-mtir/DailyOps-AI-Daily-Operations-Control-Agent/main/data

paths:
  /emails.json:
    get:
      summary: Get all emails
      operationId: getEmails
      responses:
        "200":
          description: List of emails
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    sender:
                      type: string
                    subject:
                      type: string
                    body:
                      type: string
                    time:
                      type: string
                    status:
                      type: string
