openapi: 3.0.1
info:
  title: GetTasks API
  version: 1.0.0

servers:
  - url: https://raw.githubusercontent.com/tasnim-mtir/DailyOps-AI-Daily-Operations-Control-Agent/main/data

paths:
  /tasks.json:
    get:
      summary: Get all tasks
      operationId: getTasks
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    priority:
                      type: string
                    deadline:
                      type: string
